html *{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
    
}
.div{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.ce-custom-header-title{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
  }

.ce-ice-breaker-text{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
}

.ce-chat-card-title{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
}
